body{
	margin: 0 auto;
	max-width: 50em;
	padding:12px;

	font-family: "Helvetica","Arial", sans-serif;
	line-height: 1.5;
}
h1,h2 {
	color:#444;
}

p{
	color:#333;
}

img {
	margin:12px;
	width: 240px;
	float:left;
}
.float-right{
	float:right;
}

/*flex container*/
.columns{
	display: flex;
	flex-direction: column;
	 

}

.columns p {
	/*width: 33%;*/
	padding: 6px;
}
.gallery {
	display:flex;
	/*justify-content: center;*/
	align-items: center;

	flex-wrap: wrap;

}

.gallery img {
	height: 180px;
}